<div class="admin-orders-container">
  <header class="admin-orders-header">
    <h2 class="admin-orders-title">Gestión de Pedidos</h2>
    
    <div class="admin-orders-meta">
       <span class="admin-orders-count">{{ ordenes.length }} Órdenes totales</span>
       
       <span *ngIf="ordenes[0] && ordenes[0].user">
         Cliente ID: <small>{{ ordenes[0].user.id }}</small>
       </span>
    </div>
  </header>

  <div class="admin-orders-grid">
    <article class="admin-order-card" *ngFor="let o of ordenes">
      
      <div class="admin-order-header">
        <span class="admin-order-id">#{{ o.id }}</span> 
        <span class="admin-order-status">
          {{ o.estado }}
        </span>
      </div>

      <div class="admin-order-body">
        <div class="admin-order-info">
          <span class="info-label">Cliente:</span>
          <span class="info-value" *ngIf="o.user">👤 {{ o.user.username }}</span>
        </div>
        
        <div class="admin-order-info">
          <span class="info-label">Artículos:</span>
          <span class="info-value">📦 {{ o.items.length }} producto(s)</span>
        </div>

        <div class="admin-order-total">
          <span class="total-label">Monto Total:</span>
          <span class="total-amount">S/ {{ o.total }}</span>
        </div>
      </div>

      <div class="admin-order-actions">
        <a class="admin-order-btn-view" [routerLink]="['/admin/ordenes', o.id]">
          Gestionar Pedido
        </a>
      </div>

    </article>
  </div>
</div>