<div class="container">
  <a routerLink="/tienda" class="btn-back">← Volver a la lista</a>

  <div class="product-card" *ngIf="producto">
    <div class="product-image">
      <img [src]="producto.imagen || 'https://via.placeholder.com/400'" [alt]="producto.modelo">
    </div>

    <div class="product-info">
      <span class="brand-tag">{{ producto.marca }}</span>
      <h1 class="model-title">{{ producto.modelo }}</h1>

    <div class="price-section">
  <h2 class="current-price">{{ producto.precio | currency:'S/. ' }}</h2>
  
  <div class="oferta-wrapper" *ngIf="producto.precioOriginal && (producto.precioOriginal > producto.precio)">
    
    <span class="precio-viejo">
      {{ producto.precioOriginal | currency:'S/. ' }}
    </span>

    <span class="badge-oferta">OFERTA</span>
    
  </div>
</div>

      <div class="stock-status">
        <p [ngClass]="producto.stock > 0 ? 'in-stock' : 'out-of-stock'">
          {{ producto.stock > 0 ? '¡Últimas ' + producto.stock + ' unidades disponibles!' : '❌ Sin stock' }}
        </p>
        <div class="stock-bar" *ngIf="producto.stock > 0">
          <div class="stock-fill" [style.width.%]="producto.stock > 10 ? 100 : producto.stock * 10"></div>
        </div>
      </div>

      <button routerLink="/carrito-lateral" class="btn-add" (click)="addToCart(producto)" [disabled]="producto.stock === 0">
        <span class="icon-cart">🛒</span> Agregar al Carrito
      </button>

      <div class="trust-badges">
        <span>💳 Pagos seguros</span>
        <span>🚚 Envío nacional</span>
      </div>

      <hr>

      <div class="specs-grid">
        <div class="spec-item">
          <span class="spec-icon">📸</span>
          <p><strong>Cámara</strong></p>
          <span>{{ producto.especificaciones.camaraPrincipal }}</span>
        </div>
        <div class="spec-item">
          <span class="spec-icon">📱</span>
          <p><strong>Pantalla</strong></p>
          <span>{{ producto.especificaciones.pantalla }}</span>
        </div>
        <div class="spec-item">
          <span class="spec-icon">🔋</span>
          <p><strong>Batería</strong></p>
          <span>{{ producto.especificaciones.bateria }}</span>
        </div>
        <div class="spec-item">
          <span class="spec-icon">💾</span>
          <p><strong>Memoria</strong></p>
          <span>{{ producto.especificaciones.ram }} / {{ producto.especificaciones.almacenamiento }}</span>
        </div>
      </div>

      <div class="description">
        <h3>Descripción</h3>
        <p>{{ producto.descripcion }}</p>
      </div>
    </div>
  </div>
</div>